### Exercise 2.11: Extracting General Features from Raw Text
In this exercise, we will extract general features from input text. These general features include detecting the number of words, the presence of "wh" words (words beginning with "wh", such as "what" and "why") and the language in which the text is written.

In [10]:
import detectlanguage
detectlanguage.configuration.api_key = "3a7dca7da5ffe91458c2ad441b6610f9"

In [1]:
import pandas as pd
from textblob import TextBlob
df =  pd.DataFrame([['The interim budget for 2019 will be announced on 1st February.'],
                   ['Do you know how much expectation the middle-class working population is having from this budget?'],
                   ['February is the shortest month in a year.'],
                   ['This financial year will end on 31st March.']])
df.columns = ['text']
df.head()

                                                text
0  The interim budget for 2019 will be announced ...
1  Do you know how much expectation the middle-cl...
2          February is the shortest month in a year.
3        This financial year will end on 31st March.

In [2]:
def add_num_words(df):
    df['number_of_words'] = df['text'].apply(lambda x : len(TextBlob(str(x)).words))
    return df
add_num_words(df)['number_of_words']

0    11
1    15
2     8
3     8
Name: number_of_words, dtype: int64

Use the apply() function to iterate through each row of the column text, convert them into TextBlob objects, and extract words from them.

In [3]:
def add_num_words(df):
    df['number_of_words'] = df['text'].apply(lambda x : len(TextBlob(str(x)).words))
    return df
add_num_words(df)['number_of_words']

0    11
1    15
2     8
3     8
Name: number_of_words, dtype: int64

In [4]:
df.head()

                                                text  number_of_words
0  The interim budget for 2019 will be announced ...               11
1  Do you know how much expectation the middle-cl...               15
2          February is the shortest month in a year.                8
3        This financial year will end on 31st March.                8

Use the apply() function to iterate through each row of the column text, convert the text into TextBlob objects, and extract the words from them to check whether any of them belong to the list of "wh" words that has been declared.

In [7]:
def is_present(wh_words, df):
    # Find and check intersection between set of tokens of every sentence and wh_words; Return true if length of intersection set is non-zero.
    df['is_wh_words_present'] = df['text'].apply(lambda x : True if len(set(TextBlob(str(x)).words).intersection(wh_words)) >0 else False)
    return df
wh_words = set(['why', 'who', 'which', 'what', 'where', 'where', 'how'])
is_present(wh_words, df)['is_wh_words_present']

0    False
1     True
2    False
3    False
Name: is_wh_words_present, dtype: bool

Use the apply() function to iterate through each row of the column text, convert them into TextBlob objects, and detect their languages:

In [16]:
def get_language(df):
    df['language'] = df['text'].apply(lambda x : detectlanguage.detect(x))
    return df
get_language(df)['language']

0    [{'language': 'en', 'isReliable': True, 'confi...
1    [{'language': 'en', 'isReliable': True, 'confi...
2    [{'language': 'en', 'isReliable': True, 'confi...
3    [{'language': 'en', 'isReliable': True, 'confi...
Name: language, dtype: object